@charset "UTF-8";

/* <!-- 공통 css --> */

/* hearder */

*{
	 scroll-behavior: smooth;
}

header{
    top:0;
    left:0;
    right:0;
    height:72px;
    margin-bottom:100px;
    background: #f7323f;
  
   
   
}

header > section {
    
    position:relative;
    width:1024px;
    height: 64px;
    background: none;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
}

header section h1 {
    position: absolute;
    top: 26px;
    left: 31px;
    width: 96px;
    height: 20px;
    margin: 0;
    background: url(//image.goodchoice.kr/images/web_v3/h1_logo_pc_w.png) 0 0 no-repeat;
    background-size: 96px auto;
}
header section h1 a {
    display: block;
    text-indent: -9999px;
}
a{
    text-decoration: none;
}
h1{
    font-weight: bold;
}

.gnb_pc li {
    display: inline-block;
    position: relative;
    min-width: 53px;
    min-height: 35px;
    margin-left: 31px;
    vertical-align: top;
}

.gnb_pc{
    display: inline-block;
    position: absolute;
    top: 27px;
    right: 31px;
    width: auto;
    text-align: right;
    
}

button{
    padding:0;
    cursor: pointer;
    font-family: 'Pretendard', 'Apple SD Gothic Neo', '맑은 고딕', '맑은고딕', 'Malgun Gothic', sans-serif;
}

button span{
    position: relative;
}
.dropbtn {
    border: none;
    padding: 0;
    background: none;
    font-size: 18px;
    line-height: 1;
    color: rgba(255,255,255,0.8);
    letter-spacing: 0;
}

ul{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box
}
/* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
    /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 145px;
    margin-top:0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   
  }

.gnb_pc li ul {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    border-radius: 5px;
    font-size: 13px;
    background: #f7323f;
    text-align: center;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}
.gnb_pc li a {
    display: block;
    font-size: 18px;
    color: rgba(255,255,255,0.8);
    letter-spacing: 0;
    text-decoration: none;
   
}
.dropdown a:hover{
	 color: #f7323f;
	 background:#F3EED9;
}
.dropdown-content{
	
	 line-height: 30px;
	 font-size: 10px;
}



/* footer */
footer {
   overflow: hidden;
    clear: both;
    position: relative;
    margin-top: 300px;
    padding: 63px 31px 40px 31px !important;
    border-top: 1px solid rgba(0,0,0,0.08);
    background: rgb(245,245,245);
    font-size: 13px;
    line-height: 20px;
    color: rgba(0,0,0,0.38);
    text-align: center;
}
footer a {
    color: rgba(0,0,0,0.38);
}
footer .link li:nth-of-type(3) a {
    color: rgba(0,0,0,0.87);
}
footer .link li a {
    display: inline-block;
}

footer .link li:nth-child(5), footer .link li:nth-child(8) {
    clear: both;
}

footer .link li {
    float: left;
    margin-bottom: 13px;
    line-height: normal;
}
li {
    text-align: -webkit-match-parent;
}

footer .link li span {
    display: inline-block;
    width: 24px;
    text-align: center;
}

footer p {
    clear: both;
    padding: 27px 0 27px 0;
}

footer address {
    display: inline-block;
}
address {
    font-style: normal;
    font-weight: normal;
}


.active2{
  background-color: #0d3486;
  transition-duration: 0.5s;
  transition-timing-function: ease;

  
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
}

.deactive2{
  
  background-color: transparent;
  transition-duration: 0.5s;
  transition-timing-function: ease;
 
  
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
}



