@charset "UTF-8";

body {font-family: Arial, Helvetica, sans-serif, 돋움; }

#mycontainer	/* { padding:20px; } */
#mycontent		{ 
	min-height: 1200px;
	max-width:1024px;
    position: relative;
    top: 70px;
    padding-top: 40px;
    background-color: white;
    float: right;
    width: 52%;
    margin-right: 17.5%;
    margin-bottom: 7%;
}

#mysubtop{ 
	min-height: 150px;
    background-color: #f7323f;
	margin-top: 70px;
	
}

.subtop_title{
	margin-top: 60px;
	padding-top: 18px;
	margin-left: 280px;
	font-size: 27pt;
	color: white;
}

#mysideinfo	{ 
	min-height: 600px;
    position: relative;
    top: 100px;
    padding-top: 40px;
    background-color: #fff;
    float: left;
    width: 12%;
    margin-left: 15%;
}

 
#myheader a {text-decoration:none;}